<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.kyutech.klab.and.ksl.Code_Scan_Test_by_ZXing">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<application android:label="Code_Scan_Test_by_ZXing"></application>
</manifest>